body {
    background: #D8DFE8;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.titulo-principal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: darkblue;
    margin-top: 40px;
}

.principal {
    width: 500px;
    margin: 20px 40px;
}

.principal p {
    padding: 10px;
    left: 20px;
    color: #8888;
}

form {
    width: 100%;
}

.entrada {
    border: none;
    display: inline;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 90%;
    border-radius: 5px;
    font-size: 1em;
    background: #D8DFE8;
    outline: none;
    color: darkblue;
    font-size: 20px;

}

.entrada:active {
    border: 0;
    border-color: #D8DFE8;
    border-width: 0px;
    outline: none;

}

::placeholder {
    color: darkblue;
    font-style: normal;
    font-size: 20px;
}

.encriptar {
    width: 120px;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Inter';
    color: white;
    border: none;
    border-radius: 10px;
    background: darkblue;
    transition: 1s all;
    cursor: pointer;

}

.encriptar:hover {
    background: darkblue;
    opacity: 50%;
    color: white;
}

.desencriptar {
    width: 200px;
    padding: 10px 0;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Inter';
    color: darkblue;
    border-width: 1px;
    border-color: darkblue;
    background: #E5E5E5;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.desencriptar:hover {
    background: #E5E5E5;
    opacity: 40%;
    color: darkblue;

}

.encriptado {
    width: 300px;
    height: 400px;
    padding: 20px 20px;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    font-family: 'Inter';
    transition: 1s ease-in-out;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#bloque-error {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.muñeco {
    padding: 10px;
    width: 80%;
    height: 200px;
}

.lista-mensaje {
    padding: 0;
}


.lista-mensaje h2 {
    text-align: center;
    font-family: 'Inter';
    justify-content: center;

}

.descripcion {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
}

#bloque-respuesta {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.copiar {
    width: 40%;
    padding: 10px 0;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Inter';
    color: white;
    border-width: 1px;
    border-color: darkblue;
    background: darkblue;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
}

.copiar:hover {
    background: #E5E5E5;
    border-color: darkblue;
    border-width: 1px;
    border-radius: 13px;
    color: darkblue;
}

#respuesta {
    border: none;
    display: inline;
    padding: 10px 25px;
    width: 80%;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    color: darkblue;
    font-size: 20px;

}

@media screen and (max-width: 800px) {
    .principal{
        width: 100%;
        margin-bottom: 30px;
    }
    .encriptado{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .container-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .encriptar{
        width: 80%;
    }

    .desencriptar{
        width: 80%;
    }

    .encriptado{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .container-buttons{
        flex-direction: column;
    }

}